@{
    ViewBag.Title = "Home";
}

<div class="container text-center">
    <div class="jumbotron">
        <h1>Pizzeria del Mar </h1>
        <p>Benvenuti nel nostro locale !</p>
    </div>

    <div class="row m-3">
        <div class="col-md-4">
            <img src="https://www.fermentapizzeria.it/wp-content/uploads/2023/05/slide_fermenta_pizza_gourmet_6.jpg" alt="Immagine 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://assets.eatintime.it/eatintime/img/media/8746-pizzeria-da-gigi-pinerolo-md.jpg" alt="Immagine 3" class="img-fluid">
            <a href="@Url.Action("Menu", "Home")" class="btn btn-outline-dark m-2">ORDINA ORA</a>
        </div>
        <div class="col-md-4">
            <img src="https://www.arredamentistramenga.it/pub/media/wysiwyg/quanto-costa-arredare-pizzeria.jpg" alt="Immagine 2" class="img-fluid">
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-6">
            <img src="https://lovale.it/images/pizzeria/pizzeria02.jpg" alt="Immagine 2" class="img-fluid">
        </div>
        <div class="col-md-6">
            <img src="https://www.finedininglovers.it/sites/g/files/xknfdk1106/files/styles/article_1200_800_fallback/public/2023-11/migliori-pizzerie-napoli-e-provincia.jpg?itok=ql70sz8d" alt="Immagine 1" class="img-fluid">
        </div>
    </div>
</div>
